<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

  <Appenders>
    <Console name="CONSOLE">
      <PatternLayout pattern="[%d (%t) %4p %c{1.}] - %m%n"/>
    </Console>
  </Appenders>

  <Loggers>
    <Logger name="cleaningManager" level="DEBUG"/>
    <Root level="INFO">
      <AppenderRef ref="CONSOLE"/>
    </Root>
  </Loggers>

</Configuration>